{% extends 'owner_base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center mt-5">
        <!-- Responsive Image -->
        <!-- <img class="img-fluid w-100" src="{% static './gift_city_club_1.png' %}" alt="error"> -->

        <div class="mx-auto p-4 text-dark" style="max-width: 700px;">
            <h3 class="text-uppercase letter-spacing">Welcome To</h3>
            <h1 class="fw-bold text-secondary" style="font-family: 'Cursive', serif; font-size: 32px;">Club Pulse</h1>
            <p class="fs-5 text-secondary " style="text-align: justify;">
                We are excited to welcome you to your central hub for seamless club management!
                Organize events effortlessly, oversee memberships, and keep your community engaged with ease.
                From planning activities to tracking growth and ensuring smooth operations, everything you need is at your fingertips.
                Let’s build a thriving community and create extraordinary experiences together!
            </p>
        </div>
    </div>
{% endblock %}
